@theme {
  /* Colors */
  --color-primary-50: hsl(27, 83%, 95%);
  --color-primary-100: hsl(28, 80%, 90%);
  --color-primary-200: hsl(28, 80%, 81%);
  --color-primary-300: hsl(28, 80%, 71%);
  --color-primary-400: hsl(28, 80%, 61%);
  --color-primary-500: hsl(28, 80%, 52%);
  --color-primary-600: hsl(28, 73%, 47%);
  --color-primary-700: hsl(28, 75%, 31%);
  --color-primary-800: hsl(28, 74%, 21%);
  --color-primary-900: hsl(28, 74%, 10%);

  --color-theme: var(--color-primary-500);
  --color-text: #555;
  --color-gray-dark: #333;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 3rem;
  --spacing-8: 4rem;
  --spacing-9: 6rem;
  --spacing-10: 8rem;
  --spacing-11: 12rem;
  --spacing-12: 16rem;
  --spacing-13: 24rem;
  --spacing-14: 32rem;
  --spacing-15: 40rem;
  --spacing-16: 48rem;
}
